<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>monetization_on</mat-icon>
    </button>
    <span>Bot Trading</span>
    <span class="example-spacer"></span>
</mat-toolbar>


<div class="container">
    <mat-spinner class="loading" *ngIf="!precioBTCUSDT"></mat-spinner>
    <div class="flex-container" fxLayout="Column" *ngIf="precioBTCUSDT">
        <div fxLayout="Row">
            <mat-card class="example-card">

                <mat-card-title>EMA 50</mat-card-title>
                <mat-card-content>
                    <p></p>
                    <p>{{ema50}}</p>
                </mat-card-content>
                <mat-divider inset></mat-divider>

                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
            <p></p>
            <mat-card class="example-card">

                <mat-card-title>EMA 21</mat-card-title>
                <mat-card-content>
                    <p></p>
                    <p>{{ema21}}</p>
                </mat-card-content>
                <mat-divider inset></mat-divider>

                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>

            <p></p>
            <mat-card class="example-card">

                <mat-card-title>EMA 8</mat-card-title>
                <mat-card-content>
                    <p></p>
                    <p>{{ema8}}</p>
                </mat-card-content>
                <mat-divider inset></mat-divider>

                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
            <mat-card class="example-card">

                <mat-card-title>Precio BTCUSDT</mat-card-title>
                <mat-card-content>
                    <p></p>
                    <p>{{precioBTCUSDT}}</p>
                </mat-card-content>
                <mat-divider inset></mat-divider>

                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
        <mat-card class="example-card">

            <mat-card-title>Entrada Activa:</mat-card-title>
            <mat-card-content>
                <p>{{entradaActiva}}</p>

            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button mat-button></button>
                <button mat-button></button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
        <mat-card class="example-card">

            <mat-card-title>Precio entrada:</mat-card-title>
            <mat-card-content>
                <p>{{precioEntradaLong}}</p>

            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button mat-button></button>
                <button mat-button></button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>




</div>